
main form aside {
  font-weight:bold;
}

label {
  font-weight:bold;
}

.Side_radios, .checkbox_items {
  font-weight: normal;
}

.label_sizing {
  display:block;
}

.story_sizing {
  min-width: 100%;

}

.heading_tier2 {
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 0;
}

main form fieldset {
  display:inline-block;
  vertical-align: top;
  width:30%;
}

main form {
  padding-left: 50px;
}

.full_Width {
  width:100%;
}

.levitate {
  width: 12%;
}

#originstory, #darksidestory {
  height: 75px;
  border-radius: 5px;
}

.submitreset_buttons {
  background-color: rgb(157, 199, 241);
}

input:focus, textarea:focus {
  /*border: 5px solid rgb(198, 223, 180);*/
  /*outline: none;*/
  outline-color: rgb(198, 233, 180);
}
